In [1]:
import whyqd as _w
schema = _w.Schema()

In [2]:
details = {
        "name": "human-development-report",
        "title": "UN Human Development Report 2007 - 2008",
        "description": """
        En 1990, le premier rapport sur le développement humain a introduit une nouvelle approche pour
        faire progresser le bien-être de l'homme. Le développement humain - ou l'approche du développement humain - consiste à
        l'élargissement de la richesse de la vie humaine, plutôt que simplement de la richesse de l'économie dans laquelle
        les êtres humains vivent. Il s'agit d'une approche axée sur les personnes, leurs possibilités et leurs choix."""
}

In [3]:
schema.set_details(**details)

In [4]:
fields = [
    {
        "name": "Country Name",
        "title": "Country Name",
        "type": "string",
        "description": "Official country names.",
        "constraints": {
            "required": True
        }
    },
    {
        "name": "HDI Category",
        "title": "HDI Category",
        "type": "string",
        "description": "Human Development Index Category derived from the HDI Rank.",
    },
    {
        "name": "Indicator Name",
        "title": "Indicator Name",
        "type": "string",
        "description": "Indicator described in the data series.",
    },
    {
        "name": "Reference",
        "title": "Reference",
        "type": "string",
        "description": "Reference to data source.",
    },
    {
        "name": "Year",
        "title": "Year",
        "type": "year",
        "description": "Year of release.",
    },
    {
        "name": "Values",
        "title": "Values",
        "type": "number",
        "description": "Value for the Year and Indicator Name.",
        "constraints": {
            "required": True
        }
    },
]
for field in fields:
    schema.set_field(**field)

In [6]:
directory = "data/"
filename="human-development-report"
schema.save(directory, filename=filename, overwrite=True)

True

In [7]:
import numpy as np

schema_source="data/human-development-report.json"
directory = "data/"
input_data = [
    "data/HDR 2007-2008 Table 22.xlsx"
]

methode = _w.Method(schema_source, directory=directory, input_data=input_data)

In [8]:
_id = methode.input_data[0]["id"]
df = methode.input_dataframe(_id)
df.head(15)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,… while preserving it for future generations…,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,22 Energy and the environment,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Forest area,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,Electricity consumption \nper capita,NaN,NaN,NaN,Electrification rate,NaN,Population without electricity,...,% of total land area,NaN,Total,NaN,Total change,NaN,Average annual change,NaN,NaN,NaN
11,HDI rank,NaN,NaN,\n (kilowatt-hours),NaN,(% change),NaN,(%),NaN,(millions),...,(%),NaN,(thousand sq km),NaN,(thousand sq km),NaN,(%),NaN,NaN,NaN
12,NaN,NaN,NaN,2004,NaN,\n1990-2004,NaN,2000-05a,NaN,2005,...,2005,NaN,2005,NaN,1990-2005,NaN,1990-2005,NaN,NaN,NaN
13,HIGH HUMAN DEVELOPMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,1,Iceland,NaN,"29,430",NaN,66.4,NaN,100,NaN,..,...,0.5,NaN,0.5,NaN,0.2,NaN,5.6,NaN,NaN,NaN

In [9]:
methode.add_input_data_morph(_id, ["REBASE", 12])
df = df.reset_index(drop=True)

df = methode.input_dataframe(_id)
df.head(15)

,NaN,NaN,NaN,2004,NaN,\n1990-2004,NaN,2000-05a,NaN,2005,...,2004,NaN,\n1990-2004,2005,NaN,2005,NaN,1990-2005,NaN,1990-2005
13,HIGH HUMAN DEVELOPMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,1,Iceland,NaN,"29,430",NaN,66.4,NaN,100,NaN,..,...,2.5,NaN,-12.1,0.5,NaN,0.5,NaN,0.2,NaN,5.6
15,2,Norway,NaN,"26,657",NaN,6.5,NaN,100,NaN,..,...,5.9,NaN,15.9,30.7,NaN,93.9,NaN,2.6,NaN,0.2
16,3,Australia,NaN,"11,849",NaN,30.4,NaN,100,NaN,..,...,4.8,NaN,21.3,21.3,NaN,"1,636.8",NaN,-42.3,NaN,-0.2
17,4,Canada,NaN,"18,408",NaN,5.9,NaN,100,NaN,..,...,3.4,NaN,12.5,33.6,NaN,"3,101.3",NaN,..,NaN,..
18,5,Ireland,NaN,"6,751",NaN,62.7,NaN,100,NaN,..,...,9.5,NaN,81.9,9.7,NaN,6.7,NaN,2.3,NaN,3.4
19,6,Sweden,NaN,"16,670",NaN,-1.9,NaN,100,NaN,..,...,4.5,NaN,13.0,66.9,NaN,275.3,NaN,1.6,NaN,(.)
20,7,Switzerland,NaN,"8,669",b,10.3,b,100,NaN,..,...,8.3,NaN,0.9,30.9,NaN,12.2,NaN,0.7,NaN,0.4
21,8,Japan,NaN,"8,459",NaN,21.8,NaN,100,NaN,..,...,6.4,NaN,-1.4,68.2,NaN,248.7,NaN,-0.8,NaN,(.)
22,9,Netherlands,NaN,"7,196",NaN,32.7,NaN,100,NaN,..,...,5.8,NaN,11.7,10.8,NaN,3.7,NaN,0.2,NaN,0.4
23,10,France,NaN,"8,231",c,24.6,c,100,NaN,..,...,5.9,NaN,8.0,28.3,NaN,155.5,NaN,10.2,NaN,0.5
24,11,Finland,NaN,"17,374",NaN,33.2,NaN,100,NaN,..,...,3.8,NaN,-1.1,73.9,NaN,225.0,NaN,3.1,NaN,0.1
25,12,United States,NaN,"14,240",NaN,11.9,NaN,100,NaN,..,...,4.6,NaN,25.3,33.1,NaN,"3,030.9",NaN,44.4,NaN,0.1
26,13,Spain,NaN,"6,412",NaN,63.3,NaN,100,NaN,..,...,6.9,NaN,-4.9,35.9,NaN,179.2,NaN,44.4,NaN,2.2
27,14,Denmark,NaN,"6,967",NaN,7.4,NaN,100,NaN,..,...,7.9,NaN,14.7,11.8,NaN,5.0,NaN,0.6,NaN,0.8

In [10]:
df = methode.input_dataframe(_id)
df.tail(30)

,NaN,NaN,NaN,2004,NaN,\n1990-2004,NaN,2000-05a,NaN,2005,...,2004,NaN,\n1990-2004,2005,NaN,2005,NaN,1990-2005,NaN,1990-2005
183,168,Congo (Democratic Republic of the),NaN,92,NaN,-42.1,NaN,6,NaN,53.8,...,2.2,NaN,-55.8,58.9,NaN,"1,336.1",NaN,-69.2,NaN,-0.3
184,169,Ethiopia,NaN,36,NaN,..,NaN,15,NaN,60.8,...,2.8,NaN,5.8,11.9,NaN,130.0,NaN,-21.1,NaN,-0.9
185,170,Chad,NaN,11,e,-31.3,NaN,..,NaN,..,...,..,NaN,..,9.5,NaN,119.2,NaN,-11.9,NaN,-0.6
186,171,Central African Republic,NaN,28,e,-12.5,NaN,..,NaN,..,...,..,NaN,..,36.5,NaN,227.6,NaN,-4.5,NaN,-0.1
187,172,Mozambique,NaN,545,NaN,856.1,NaN,6,NaN,18.6,...,2.6,NaN,105.8,24.6,NaN,192.6,NaN,-7.5,NaN,-0.2
188,173,Mali,NaN,41,e,36.7,NaN,..,NaN,..,...,..,NaN,..,10.3,NaN,125.7,NaN,-15.0,NaN,-0.7
189,174,Niger,NaN,40,e,-13.0,NaN,..,NaN,..,...,..,NaN,..,1.0,NaN,12.7,NaN,-6.8,NaN,-2.3
190,175,Guinea-Bissau,NaN,44,e,4.8,NaN,..,NaN,..,...,..,NaN,..,73.7,NaN,20.7,NaN,-1.4,NaN,-0.4
191,176,Burkina Faso,NaN,31,e,55.0,NaN,7,NaN,12.4,...,..,NaN,..,29.0,NaN,67.9,NaN,-3.6,NaN,-0.3
192,177,Sierra Leone,NaN,24,NaN,-54.7,NaN,..,NaN,..,...,..,NaN,..,38.5,NaN,27.5,NaN,-2.9,NaN,-0.6
194,Developing countries,NaN,NaN,"1,221",NaN,..,NaN,68,j,"1,569.0",...,4.6,NaN,..,27.9,NaN,"21,147.8",NaN,"-1,381.7",NaN,-0.4
195,Least developed countries,NaN,NaN,119,NaN,..,NaN,..,NaN,..,...,..,NaN,..,27.5,NaN,"5,541.6",NaN,-583.6,NaN,-0.6
196,Arab States,NaN,NaN,"1,841",NaN,..,NaN,..,NaN,..,...,3.4,NaN,..,7.2,NaN,877.7,NaN,-88.0,NaN,-0.6
197,East Asia and the Pacific,NaN,NaN,"1,599",NaN,..,NaN,..,NaN,..,...,..,NaN,..,28.6,NaN,"4,579.3",NaN,-75.5,NaN,0.1
198,Latin America and the Caribbean,NaN,NaN,"2,043",NaN,..,NaN,90,j,45.0,...,6.2,NaN,..,45.9,NaN,"9,159.0",NaN,-686.3,NaN,-0.5
199,South Asia,NaN,NaN,628,NaN,..,NaN,..,NaN,..,...,5.1,NaN,..,14.2,NaN,911.8,NaN,12.5,NaN,0.1
200,Sub-Saharan Africa,NaN,NaN,478,NaN,..,NaN,26,j,547.0,...,..,NaN,..,26.8,NaN,"5,516.4",NaN,-549.6,NaN,-0.6
201,Central and Eastern Europe and the CIS,NaN,NaN,"4,539",NaN,..,NaN,..,NaN,..,...,2.6,NaN,..,38.3,NaN,"8,856.5",NaN,22.7,NaN,(.)
202,OECD,NaN,NaN,"8,795",NaN,..,NaN,100,NaN,..,...,5.3,NaN,..,30.9,NaN,"10,382.4",NaN,67.9,NaN,0.1
203,High-income OECD,NaN,NaN,"10,360",NaN,..,NaN,100,NaN,..,...,5.3,NaN,..,31.2,NaN,"9,480.8",NaN,105.6,NaN,0.1
205,High human development,NaN,NaN,"7,518",NaN,..,NaN,99,NaN,..,...,5.0,NaN,..,36.2,NaN,"24,327.1",NaN,-366.8,NaN,-0.1
206,Medium human development,NaN,NaN,"1,146",NaN,..,NaN,72,NaN,..,...,4.5,NaN,..,23.3,NaN,"10,799.6",NaN,-462.4,NaN,-0.2
207,Low human development,NaN,NaN,134,NaN,..,NaN,25,NaN,..,...,..,NaN,..,29.8,NaN,"4,076.5",NaN,-379.5,NaN,-0.5
209,High income,NaN,NaN,"10,210",NaN,..,NaN,100,NaN,..,...,5.2,NaN,..,29.2,NaN,"9,548.4",NaN,107.1,NaN,0.1
210,Middle income,NaN,NaN,"2,039",NaN,..,NaN,90,NaN,..,...,4.2,NaN,..,33.8,NaN,"23,132.3",NaN,-683.1,NaN,-0.2
211,Low income,NaN,NaN,449,NaN,..,NaN,45,NaN,..,...,..,NaN,..,23.9,NaN,"6,745.6",NaN,-676.2,NaN,-0.6
213,World,NaN,NaN,"2,701",j,..,NaN,76,j,"1,577.0",...,4.8,j,..,30.3,j,"39,520.3",j,"-1,252.7",j,-0.2
219,NOTES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
221,a. Data refer to the most recent year availabl...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
223,SOURCES\nColumn 1: UN 2007d.\nColumn 2: calcul...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
# On obtient la valeur du dernier élément de l'index, puis on ajoute 1 pour créer l'intervalle
rows = [int(i) for i in np.arange(194, df.index[-1]+1)]
methode.add_input_data_morph(_id, ["DELETE", rows])

df = methode.input_dataframe(_id)
df.tail(30)

,NaN,NaN,NaN,2004,NaN,\n1990-2004,NaN,2000-05a,NaN,2005,...,2004,NaN,\n1990-2004,2005,NaN,2005,NaN,1990-2005,NaN,1990-2005
163,149,Djibouti,NaN,260,e,-46.8,NaN,..,NaN,..,...,..,NaN,..,0.2,NaN,0.1,NaN,..,NaN,..
164,150,Timor-Leste,NaN,294,e,..,NaN,..,NaN,..,...,..,NaN,..,53.7,NaN,8.0,NaN,-1.7,NaN,-1.2
165,151,Zimbabwe,NaN,924,NaN,-10.1,NaN,34,NaN,8.7,...,2.6,NaN,-13.4,45.3,NaN,175.4,NaN,-46.9,NaN,-1.4
166,152,Togo,NaN,102,NaN,1.0,NaN,17,NaN,5.1,...,3.1,NaN,-26.9,7.1,NaN,3.9,NaN,-3.0,NaN,-2.9
167,153,Yemen,NaN,208,NaN,34.2,NaN,36,NaN,13.2,...,2.8,NaN,-6.0,1.0,NaN,5.5,NaN,0.0,NaN,0.0
168,154,Uganda,NaN,63,e,61.5,NaN,9,NaN,24.6,...,..,NaN,..,18.4,NaN,36.3,NaN,-13.0,NaN,-1.8
169,155,Gambia,NaN,98,e,30.7,NaN,..,NaN,..,...,..,NaN,..,41.7,NaN,4.7,NaN,0.3,NaN,0.4
170,LOW HUMAN DEVELOPMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
171,156,Senegal,NaN,206,NaN,70.2,NaN,33,NaN,7.8,...,6.5,NaN,28.2,45.0,NaN,86.7,NaN,-6.8,NaN,-0.5
172,157,Eritrea,NaN,67,NaN,..,NaN,20,NaN,3.5,...,..,NaN,..,15.4,NaN,15.5,NaN,-0.7,NaN,-0.3
173,158,Nigeria,NaN,157,NaN,-1.9,NaN,46,NaN,71.1,...,1.4,NaN,22.7,12.2,NaN,110.9,NaN,-61.5,NaN,-2.4
174,159,Tanzania (United Republic of),NaN,69,NaN,4.5,NaN,11,NaN,34.2,...,1.3,NaN,-12.5,39.9,NaN,352.6,NaN,-61.8,NaN,-1.0
175,160,Guinea,NaN,87,e,3.6,NaN,..,NaN,..,...,..,NaN,..,27.4,NaN,67.2,NaN,-6.8,NaN,-0.6
176,161,Rwanda,NaN,31,e,24.0,NaN,..,NaN,..,...,..,NaN,..,19.5,NaN,4.8,NaN,1.6,NaN,3.4
177,162,Angola,NaN,220,NaN,161.9,NaN,15,NaN,13.5,...,3.3,NaN,-12.4,47.4,NaN,591.0,NaN,-18.7,NaN,-0.2
178,163,Benin,NaN,81,NaN,72.3,NaN,22,NaN,6.5,...,3.3,NaN,25.8,21.3,NaN,23.5,NaN,-9.7,NaN,-1.9
179,164,Malawi,NaN,100,e,14.9,NaN,7,NaN,11.8,...,..,NaN,..,36.2,NaN,34.0,NaN,-4.9,NaN,-0.8
180,165,Zambia,NaN,721,NaN,-7.8,NaN,19,NaN,9.5,...,1.5,NaN,0.4,57.1,NaN,424.5,NaN,-66.7,NaN,-0.9
181,166,Côte d'Ivoire,NaN,224,NaN,7.7,NaN,50,NaN,9.1,...,3.7,NaN,-29.1,32.7,NaN,104.1,NaN,1.8,NaN,0.1
182,167,Burundi,NaN,22,e,-4.3,NaN,..,NaN,..,...,..,NaN,..,5.9,NaN,1.5,NaN,-1.4,NaN,-3.2
183,168,Congo (Democratic Republic of the),NaN,92,NaN,-42.1,NaN,6,NaN,53.8,...,2.2,NaN,-55.8,58.9,NaN,"1,336.1",NaN,-69.2,NaN,-0.3
184,169,Ethiopia,NaN,36,NaN,..,NaN,15,NaN,60.8,...,2.8,NaN,5.8,11.9,NaN,130.0,NaN,-21.1,NaN,-0.9
185,170,Chad,NaN,11,e,-31.3,NaN,..,NaN,..,...,..,NaN,..,9.5,NaN,119.2,NaN,-11.9,NaN,-0.6
186,171,Central African Republic,NaN,28,e,-12.5,NaN,..,NaN,..,...,..,NaN,..,36.5,NaN,227.6,NaN,-4.5,NaN,-0.1
187,172,Mozambique,NaN,545,NaN,856.1,NaN,6,NaN,18.6,...,2.6,NaN,105.8,24.6,NaN,192.6,NaN,-7.5,NaN,-0.2
188,173,Mali,NaN,41,e,36.7,NaN,..,NaN,..,...,..,NaN,..,10.3,NaN,125.7,NaN,-15.0,NaN,-0.7
189,174,Niger,NaN,40,e,-13.0,NaN,..,NaN,..,...,..,NaN,..,1.0,NaN,12.7,NaN,-6.8,NaN,-2.3
190,175,Guinea-Bissau,NaN,44,e,4.8,NaN,..,NaN,..,...,..,NaN,..,73.7,NaN,20.7,NaN,-1.4,NaN,-0.4
191,176,Burkina Faso,NaN,31,e,55.0,NaN,7,NaN,12.4,...,..,NaN,..,29.0,NaN,67.9,NaN,-3.6,NaN,-0.3
192,177,Sierra Leone,NaN,24,NaN,-54.7,NaN,..,NaN,..,...,..,NaN,..,38.5,NaN,27.5,NaN,-2.9,NaN,-0.6

In [12]:
columns = [
    'HDI rank',
    'Country',
    'Reference 1',
    'Electricity consumption per capita (kilowatt-hours) 2004',
    'Reference 2',
    'Electricity consumption per capita (% change) 1990-2004',
    'Reference 3',
    'Electrification rate (%) 2000-05a',
    'Reference 4',
    'Population without  electricity (millions) 2005',
    'Reference 5',
    'GDP per unit of energy use (2000 PPP US$ per kg of oil equivalent) 2004',
    'Reference 6',
    'GDP per unit of energy use (% change) 1990-2004',
    'Forest area % of total land area (%) 2005',
    'Reference 7',
    'Forest area Total (thousand sq km) 2005',
    'Reference 8',
    'Forest area Total change (thousand sq km) 1990-2005',
    'Reference 9',
    'Forest area Average annual change (%) 1990-2005',
]

methode.add_input_data_morph(_id, ["RENAME", columns])

df = methode.input_dataframe(_id)
df.head()

,HDI rank,Country,Reference 1,Electricity consumption per capita (kilowatt-hours) 2004,Reference 2,Electricity consumption per capita (% change) 1990-2004,Reference 3,Electrification rate (%) 2000-05a,Reference 4,Population without electricity (millions) 2005,...,GDP per unit of energy use (2000 PPP US$ per kg of oil equivalent) 2004,Reference 6,GDP per unit of energy use (% change) 1990-2004,Forest area % of total land area (%) 2005,Reference 7,Forest area Total (thousand sq km) 2005,Reference 8,Forest area Total change (thousand sq km) 1990-2005,Reference 9,Forest area Average annual change (%) 1990-2005
13,HIGH HUMAN DEVELOPMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,1,Iceland,NaN,"29,430",NaN,66.4,NaN,100,NaN,..,...,2.5,NaN,-12.1,0.5,NaN,0.5,NaN,0.2,NaN,5.6
15,2,Norway,NaN,"26,657",NaN,6.5,NaN,100,NaN,..,...,5.9,NaN,15.9,30.7,NaN,93.9,NaN,2.6,NaN,0.2
16,3,Australia,NaN,"11,849",NaN,30.4,NaN,100,NaN,..,...,4.8,NaN,21.3,21.3,NaN,"1,636.8",NaN,-42.3,NaN,-0.2
17,4,Canada,NaN,"18,408",NaN,5.9,NaN,100,NaN,..,...,3.4,NaN,12.5,33.6,NaN,"3,101.3",NaN,..,NaN,..

In [13]:
# Obtenir les indices des lignes de données catégorielles
hdi_categories = ["HIGH HUMAN DEVELOPMENT", "MEDIUM HUMAN DEVELOPMENT", "LOW HUMAN DEVELOPMENT"]
rows = df[df["HDI rank"].isin(hdi_categories)].index
methode.add_input_data_morph(_id, ["CATEGORISE", list(rows) , "HDI category"])

In [14]:
df = methode.input_dataframe(_id)
df.head()

,HDI rank,Country,Reference 1,Electricity consumption per capita (kilowatt-hours) 2004,Reference 2,Electricity consumption per capita (% change) 1990-2004,Reference 3,Electrification rate (%) 2000-05a,Reference 4,Population without electricity (millions) 2005,...,Reference 6,GDP per unit of energy use (% change) 1990-2004,Forest area % of total land area (%) 2005,Reference 7,Forest area Total (thousand sq km) 2005,Reference 8,Forest area Total change (thousand sq km) 1990-2005,Reference 9,Forest area Average annual change (%) 1990-2005,HDI category
14,1,Iceland,NaN,"29,430",NaN,66.4,NaN,100,NaN,..,...,NaN,-12.1,0.5,NaN,0.5,NaN,0.2,NaN,5.6,HIGH HUMAN DEVELOPMENT
15,2,Norway,NaN,"26,657",NaN,6.5,NaN,100,NaN,..,...,NaN,15.9,30.7,NaN,93.9,NaN,2.6,NaN,0.2,HIGH HUMAN DEVELOPMENT
16,3,Australia,NaN,"11,849",NaN,30.4,NaN,100,NaN,..,...,NaN,21.3,21.3,NaN,"1,636.8",NaN,-42.3,NaN,-0.2,HIGH HUMAN DEVELOPMENT
17,4,Canada,NaN,"18,408",NaN,5.9,NaN,100,NaN,..,...,NaN,12.5,33.6,NaN,"3,101.3",NaN,..,NaN,..,HIGH HUMAN DEVELOPMENT
18,5,Ireland,NaN,"6,751",NaN,62.7,NaN,100,NaN,..,...,NaN,81.9,9.7,NaN,6.7,NaN,2.3,NaN,3.4,HIGH HUMAN DEVELOPMENT

In [15]:
# Sélectionnez toutes les colonnes à "melt"
columns = [
    'HDI rank',
    'Electricity consumption per capita (kilowatt-hours) 2004',
    'Electricity consumption per capita (% change) 1990-2004',
    'Electrification rate (%) 2000-05a',
    'Population without  electricity (millions) 2005',
    'GDP per unit of energy use (2000 PPP US$ per kg of oil equivalent) 2004',
    'GDP per unit of energy use (% change) 1990-2004',
    'Forest area % of total land area (%) 2005',
    'Forest area Total (thousand sq km) 2005',
    'Forest area Total change (thousand sq km) 1990-2005',
    'Forest area Average annual change (%) 1990-2005',
]
methode.add_input_data_morph(_id, ["MELT", columns, ["Indicator Name", "Indicator Value"]])

In [16]:
columns = [
    "Reference 1",
    "Reference 2",
    "Reference 3",
    "Reference 4",
    "Reference 5",
    "Reference 6",
    "Reference 7",
    "Reference 8",
    "Reference 9"
]
methode.add_input_data_morph(_id, ["MELT", columns, ["Reference Name", "Reference"]])

In [17]:
methode.add_input_data_morph(_id, ["DEBLANK"])

In [18]:
df = methode.input_dataframe(_id)
df.head()

,Indicator Name,Country,Indicator Value,HDI category,Reference Name,Reference
0,HDI rank,Iceland,1,HIGH HUMAN DEVELOPMENT,Reference 1,NaN
1,HDI rank,Norway,2,HIGH HUMAN DEVELOPMENT,Reference 1,NaN
2,HDI rank,Australia,3,HIGH HUMAN DEVELOPMENT,Reference 1,NaN
3,HDI rank,Canada,4,HIGH HUMAN DEVELOPMENT,Reference 1,NaN
4,HDI rank,Ireland,5,HIGH HUMAN DEVELOPMENT,Reference 1,NaN

In [19]:
%time methode.merge(overwrite_working=True)

CPU times: user 6.97 s, sys: 0 ns, total: 6.97 s
Wall time: 7.39 s

In [20]:
structure = {
    "country_name": ["RENAME", "Country"],
    "hdi_category": ["RENAME", "HDI category"],
    "indicator_name": ["RENAME", "Indicator Name"],
    "reference": ["RENAME", "Reference"],
    "values": ["RENAME", "Indicator Value"],
}
# Notez le "**" au début du nom du paramètre
# Ceci "dépaquette"  le dictionnaire de sorte que tous les termes soient visibles pour la fonction
methode.set_structure(**structure)

In [21]:
methode.transform(overwrite_output=True)
FILENAME = "hdi_report_exercise"
methode.save(directory, filename=FILENAME, overwrite=True)

In [22]:
%time methode.validates

CPU times: user 4.82 s, sys: 23 ms, total: 4.84 s
Wall time: 4.85 s

True

In [23]:
import pandas as pd
import numpy as np

source = "data/output_4c2444a2-3fba-4628-b21a-124b42544308.csv"

df = pd.read_csv(source)
df.head()

   year country_name            hdi_category indicator_name reference values
0   NaN      Iceland  HIGH HUMAN DEVELOPMENT       HDI rank       NaN      1
1   NaN       Norway  HIGH HUMAN DEVELOPMENT       HDI rank       NaN      2
2   NaN    Australia  HIGH HUMAN DEVELOPMENT       HDI rank       NaN      3
3   NaN       Canada  HIGH HUMAN DEVELOPMENT       HDI rank       NaN      4
4   NaN      Ireland  HIGH HUMAN DEVELOPMENT       HDI rank       NaN      5

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2475 entries, 0 to 2474
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   year            0 non-null      float64
 1   country_name    2475 non-null   object
 2   hdi_category    2255 non-null   object
 3   indicator_name  2475 non-null   object
 4   reference       528 non-null    object
 5   values          2475 non-null   object
dtypes: float64(1), object(5)
memory usage: 116.1+ KB

In [25]:
from pandas_schema import Column, Schema
from pandas_schema.validation import LeadingWhitespaceValidation, TrailingWhitespaceValidation, IsDtypeValidation, InListValidation

# Nous ne testerons que ces colonnes
columns = ["country_name", "hdi_category", "values"]
# Et ces catégories
hdi_categories = ["HIGH HUMAN DEVELOPMENT", "MEDIUM HUMAN DEVELOPMENT", "LOW HUMAN DEVELOPMENT"]

schema = Schema([
    Column("country_name", [LeadingWhitespaceValidation(), TrailingWhitespaceValidation()]),
    Column("hdi_category", [InListValidation(hdi_categories)]),
    Column("values", [IsDtypeValidation(np.dtype(float)), IsDtypeValidation(np.dtype(int))])
])

errors = schema.validate(df[columns])

print(F"Nombre d'erreurs :  {len(errors)}")
# Juste les 10 premiers
for error in errors[:10]:
    print(error)

Nombre d'erreurs :  222
The column values has a dtype of object which is not a subclass of the required type float64
The column values has a dtype of object which is not a subclass of the required type int64
{row: 164, column: "hdi_category"}: "nan" is not in the list of legal options (HIGH HUMAN DEVELOPMENT, MEDIUM HUMAN DEVELOPMENT, LOW HUMAN DEVELOPMENT)
{row: 165, column: "hdi_category"}: "nan" is not in the list of legal options (HIGH HUMAN DEVELOPMENT, MEDIUM HUMAN DEVELOPMENT, LOW HUMAN DEVELOPMENT)
{row: 166, column: "hdi_category"}: "nan" is not in the list of legal options (HIGH HUMAN DEVELOPMENT, MEDIUM HUMAN DEVELOPMENT, LOW HUMAN DEVELOPMENT)
{row: 167, column: "hdi_category"}: "nan" is not in the list of legal options (HIGH HUMAN DEVELOPMENT, MEDIUM HUMAN DEVELOPMENT, LOW HUMAN DEVELOPMENT)
{row: 168, column: "hdi_category"}: "nan" is not in the list of legal options (HIGH HUMAN DEVELOPMENT, MEDIUM HUMAN DEVELOPMENT, LOW HUMAN DEVELOPMENT)
{row: 169, column: "hdi_category"}: "nan" is not in the list of legal options (HIGH HUMAN DEVELOPMENT, MEDIUM HUMAN DEVELOPMENT, LOW HUMAN DEVELOPMENT)
{row: 170, column: "hdi_category"}: "nan" is not in the list of legal options (HIGH HUMAN DEVELOPMENT, MEDIUM HUMAN DEVELOPMENT, LOW HUMAN DEVELOPMENT)
{row: 171, column: "hdi_category"}: "nan" is not in the list of legal options (HIGH HUMAN DEVELOPMENT, MEDIUM HUMAN DEVELOPMENT, LOW HUMAN DEVELOPMENT)